[submodule "third_party/opensr-degradation"]
	path = third_party/opensr-degradation
	url = https://github.com/ESAOpenSR/opensr-degradation.git
[submodule "third_party/opensr-model"]
	path = third_party/opensr-model
	url = https://github.com/ESAOpenSR/opensr-model.git
[submodule "third_party/opensr-test"]
	path = third_party/opensr-test
	url = https://github.com/ESAOpenSR/opensr-test.git
[submodule "third_party/opensr-utils"]
	path = third_party/opensr-utils
	url = https://github.com/ESAOpenSR/opensr-utils.git
[submodule "third_party/SEN2NEON"]
	path = third_party/SEN2NEON
	url = https://github.com/ESAOpenSR/SEN2NEON.git
[submodule "third_party/SEN2SR"]
	path = third_party/SEN2SR
	url = https://github.com/ESAOpenSR/SEN2SR.git
[submodule "third_party/SRGAN"]
	path = third_party/SRGAN
	url = https://github.com/ESAOpenSR/SRGAN.git
